@model List<TaseronBul.Models.Ilan>
@{
    ViewBag.Title = "İlanlar";
}
<br />
<br />
<div class="col-md-10" style="margin-left:5%">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Son İlanlar</div>
            <table class="table">
                <tr>
                    <td><b>Açıklama</b></td>
                    <td><b>Yayınlama Tarihi</b></td>
                    <td><b>Son Tarih</b></td>
                    <td><b>Max Fiyat</b></td>
                    <td><b>Tür</b></td>
                    <td><b>İlan Ayrıntısı</b> </td>
                </tr>
                @for (int i = 0; i < Model.Count; i++)
                {
                    string tur;
                    if (Model[i].IlanTuru==false)
                    {
                        tur = "Açık İhale";
                    }
                    else
                    {
                        tur = "Kapalı İhale";
                    }
                    <tr>
                        <td>
                            
                            @Html.DisplayFor(modelItem => Model[i].Aciklama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].IlanYayinlamaTarihi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].IlanKapanisTarihi)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].MaxFiyat)
                        </td>
                         <td>
                            @Html.DisplayFor(modelItem => tur)
                        </td>
                        <td>
                            <p>
                                <a class="btn btn-danger btn xs" ; href='@Url.Action("IlanKontT", "Ilan", new { id = Model[i].IlanNo })'>Teklif Ver</a>
                            </p>
                    </tr>
                }

            </table>
        </div>
    </div>