@model TaseronBul.Models.Ilan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Ilan</legend>
    <br />  <br />  
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
   
    <div class="display-field">
        @Html.HiddenFor(model => model.IlanNo)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.Uye.Ad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Uye.Ad)
    </div>
         <br />
    <div class="display-label">
         @Html.LabelFor(model => model.Kategori.KategoriAdi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kategori.KategoriAdi)
    </div>
         <br />
    <div class="display-label">
         @Html.LabelFor(model => model.IlanTuru)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanTuru)
    </div>
         <br />
    <div class="display-label">
         @Html.LabelFor(model => model.IlanYayinlamaTarihi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanYayinlamaTarihi)
    </div>
         <br />
    <div class="display-label">
         @Html.LabelFor(model => model.IlanKapanisTarihi)
    </div>
       

    <div class="display-field">
        @Html.DisplayFor(model => model.IlanKapanisTarihi)
    </div>
  <br />
         </div>
        <div class="col-md-1">
    <div class="display-label">
         @Html.LabelFor(model => model.SonIsGunu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SonIsGunu)
    </div> <br />

    <div class="display-label">
         @Html.LabelFor(model => model.MaxFiyat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxFiyat)
    </div>
             <br />
    <div class="display-label">
         @Html.LabelFor(model => model.Durum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Durum)
    </div>
             <br />
    <div class="display-label">
         @Html.LabelFor(model => model.Aciklama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Aciklama)
    </div> <br />
            </div>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
       <div class="col-md-1"></div>
        @Html.ActionLink("Geri Dön", "Index") &nbsp &nbsp &nbsp &nbsp &nbsp
         <input class="btn btn-success" type="submit" value="SİL" /> 
    </p>
}
