@model TaseronBul.Models.Ilan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Ilan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IlanNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Uye.Ad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Uye.Ad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Kategori.KategoriAdi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IlanTuru)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanTuru)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IlanYayinlamaTarihi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanYayinlamaTarihi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IlanKapanisTarihi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IlanKapanisTarihi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SonIsGunu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SonIsGunu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaxFiyat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaxFiyat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Durum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Durum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Aciklama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Aciklama)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
