<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container"> 
        <div class="row">
            <div class="col-md-6">
                <div style="float: left; margin-left: 30px; width: 200px; height: 70px; background-color: beige;">
                    <img src="/Images/logo.png" class="img-thumbnail" alt="Cinque Terre" width="200" height="70">
                </div>
            </div>
            <div id="giris">
                <div style="float: right; margin-right: 50px; width: 212px; height: 60px; border-style: none;">
                    <button  onclick="location.href=' @Url.Action("Index","Kayit")'" type="button"  class="btn" style="background-color: wheat; margin: 10px; margin-top: 30px;">Kayıt Ol</button>


                    <button onclick="location.href=' @Url.Action("Login1","Account")'" id="btn-giris" type="button" class="btn" style="background-color: #c18282; margin: 10px; margin-top: 30px;">Giriş Yap</button>
                    <div class="gecici" style="visibility:hidden;">
                        <ul>
                            <li><a href="#home">Bireysel</a></li>
                            <li><a href="#about">Kurumsal</a></li>
                        </ul>
                    </div>

                    <script>
                        
                    </script>
                </div>
            </div>
        </div>
        <header>
            <br />
            <br />
            <div class="content-wrapper" style="margin-left:1%">
                <nav class="nav navbar-inverse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>

                        <li>@Html.ActionLink("Hakkımızda", "Index", "Home")</li>

                        <li>@Html.ActionLink("İletişim", "Index", "Home")</li>

                        <li>@Html.ActionLink("Üye Ol", "Index", "Home")</li>

                        <li>@Html.ActionLink("İhale Ara", "Index", "Home")</li>

                        <li>@Html.ActionLink("Pazar Türü", "Index", "Home")</li>


                        <section style="float: right; margin-right: 20px;" id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                    </ul>
                </nav>

            </div>

        </header>


        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)


    </div>
</body>
</html>
