@model TaseronBul.Models.Firma

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Firma</legend>
    <br />  <br />  
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">

   <div class="editor-label">
            @Html.LabelFor(model => model.FirmaAdi)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.FirmaAdi)
           
        </div>
    <br />  
        <br /> 
    <div class="display-label">
         @Html.LabelFor(model => model.YetkiliAd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YetkiliAd)
    </div>
        <br /> 
    <div class="display-label">
         @Html.LabelFor(model => model.YetkiliSoyad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YetkiliSoyad)
    </div>
        <br /> 
    <div class="display-label">
         @Html.LabelFor(model => model.Mail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mail)
    </div>
        <br /> 
    <div class="display-label">
         @Html.LabelFor(model => model.Sifre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sifre)
    </div>
        <br /> 
           
    <div class="display-label">
         @Html.LabelFor(model => model.Telefon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefon)
    </div>
            <br /> 
         </div>
        <div class="col-md-3">
    <div class="display-label">
         @Html.LabelFor(model => model.Sehir1.Sehir1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sehir1.Sehir1)
    </div>
            <br /> 
    <div class="display-label">
         @Html.LabelFor(model => model.Adres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Adres)
    </div>
            <br /> 
    <div class="display-label">
         @Html.LabelFor(model => model.Fax)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fax)
    </div>
            <br /> 
    <div class="display-label">
         @Html.LabelFor(model => model.Durum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Durum)
    </div><br /> 

    <div class="display-label">
         @Html.LabelFor(model => model.Puan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Puan)
        </div> </br> 
        </div>
    </div>
</fieldset>
<p>
    <div class="col-md-1"></div>
    @Html.ActionLink("Güncelle", "Edit", new { id=Model.FirmaId }) &nbsp &nbsp &nbsp &nbsp
    @Html.ActionLink("Geri Dön", "Index")
</p>
